# macOS
.DS_Store

# PlatformIO
platformio/.pio/
platformio_ble_probe/.pio/

# Arduino IDE / arduino-cli
arduino/**/build/
arduino/**/*.elf
arduino/**/*.bin
arduino/**/*.hex
arduino/**/*.map

# Editors
.vscode/
.idea/
*.swp
